
/*round image 100px size*/
.img-profil {
    border-radius: 100px;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    box-shadow: 3px 3px 3px 3px #333333;
}

.img-logo-name {
	width: 180px;	
}

.img-icon {
	width: 150px;	
}